* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 260px;
    background-color: #333;
    padding-top: 50px;
    transition: width 0.3s ease;
    overflow-y: auto;
  }
  
  .sidebar.active {
    width: 60px;
  }
  
  .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-details img {
    margin-right: 10px;
  }
  
  .logo-details .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
  }
  
  .nav-links {
    margin-top: 20px;
  }
  
  .nav-links li {
    position: relative;
    margin-bottom: 15px;
  }
  
  .nav-links li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    background-color: #555;
  }
  
  .nav-links li a .fa-solid {
    margin-right: 10px;
  }
  
  .home-section {
    position: absolute;
    left: 260px;
    width: calc(100% - 260px);
    padding: 20px;
    transition: left 0.3s ease;
  }
  
  .home-section nav {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile-details {
    display: flex;
    align-items: center;
  }
  
  .admin_name {
    margin-right: 10px;
  }
  
  .home-content {
    margin-top: 20px;
  }
  
  /* Sidebar Toggle Button */
  .sidebar-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .btn a{
    text-decoration: none;
    color: black;
}

.btn-tambah {
    margin: 10px 0;
  }
  
  .btn-simpan {
    width: 100%;
  }
  
  .btn:hover {
    background-color: #2c99ff;
  }
  
  .table-data {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    border: 1px solid black;
    padding: 5px 20px;
  }
  .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    margin: 10px auto;
    border-radius: 10px;
  }
  .input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(148, 148, 148);
  }
  
  @media screen and (max-width: 768px) {
    .sidebar.active {
      width: 100px;
    }
  
    .sidebar.active .logo-details .logo_name {
      display: none;
    }
  
    .sidebar.active .nav-links li a .links_name {
      display: none;
    }
  
    .home-section {
      left: 100px;
      width: calc(100% - 100px);
    }
  }